<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">

    <style>
        body{
            background-color:tan;
        }

        h1{text-align: center;}
        div{text-align: center;}

        #wrap{
            word-wrap:break-word;
        }

    </style>

</head>
<body>

    <h1>Begin the Journey for Your Most Organized Self!</h1>
    
    <div>
        <div id = "wrap">
       <p>Welcome to the app to help you stay organized. By inputing and tracking, when you want to get task completed, this app will be of the most convenience.</p>
        </div>
       <div class = "button">
        <form>
            <button type = "submit" formaction = "/reminder">Get Started!</button>
        </form>
        </div>
    </div>


</body>
</html>