<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">

    <style>
        body{
            background-color:tan;
        }

        h1{text-align: center;}
        #wrap{text-align: center;}

    </style>


</head>
<body>

   <h1>Set Your Reminder...</h1>

   <div id = "wrap">
       <div>
           <form action = "/reminder" id = "info" method = 'post'>
               <input type = "text" name = "reminder" value = "reminder"><br>
               <p></p>
               <label for = "date">Sate A Date and Time:</label><br>
               <p></p>
               <input type = "datetime-local" name = "setdate" id = "setdate"><br>
               <input type = "submit" value = "Save"></input>
           </form>

           <p>Any Affirmation for Today?</p>

           <button id = "user">Type</button>

           <p>X <span id = "outputUser"> ________________ </span></p>
       </div>
   </div>

   <div id = "Tasks">
       <h2>To-do...</h2>
       <a href = "/completed">These are all the tasks you have already completed!</a>
       <p>Check to see what you can complete below.</p>

        <ul>
            <li>
                x
            </li>
        </ul>
   </div>

    
    
</body>
</html>