<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Send Messages In The Field Below</h1>

    <form action = "/success" method = 'post'>
        <label for = "name">Your Name:</label>
        <input type = "text" name = "name"/><br>
        <label for = "note">Your Message:</label>
        <input type = "text" name = "message"><br>
        <input type = "submit" value = "submit"/>
   </form>
    
</body>
