<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">

    <style>
        body{
            background-color: pink;
        }
    </style>

</head>
<body>

    <h1>Here Are All the Messages</h1>
    {% for message in messages %}
        <p>{{message["message"]}} from {{message["name"]}}</p>
        <form action = "/view" method= "post">
            <input type = "hidden" name = "message" value = "{{message['message']}}"/>
            <input type = "button" value = "Go to Home" onclick ="history.back">
        </form>
    {% endfor %}
    
</body>
</html>